
<header>
  <h1>{{ 'infoPage.title' | translate }}</h1>
  <p class="desc">{{ 'infoPage.shortDesc' | translate }}</p>
</header>



<section class="container">
  <p class="desc">{{ 'infoPage.pageDesc' | translate }}</p>
</section>

<section class="cards-container">
  <h2>{{ "infoDetails.title" | translate}}</h2>
  <div class="card">
    <i class="fas fa-shipping-fast"></i>
    <span>{{ "infoDetails.bullet1" | translate}}</span>
  </div>
  <div class="card">
    <i class="fas fa-hands-helping"></i>
    <span>{{ "infoDetails.bullet2" | translate}}</span>
  </div>
  <div class="card">
    <i class="fas fa-globe-africa"></i>
    <span>{{ "infoDetails.bullet3" | translate}}</span>
  </div>
  <div class="card">
    <i class="fas fa-chart-line"></i>
    <span>{{ "infoDetails.bullet4" | translate}}</span>
  </div>
  <div class="card">
    <i class="fas fa-map-marked-alt"></i>
    <span>{{ "infoDetails.bullet5" | translate}}</span>
  </div>
  <div class="card">
    <i class="fas fa-user-tie"></i>
    <span>{{ "infoDetails.bullet6" | translate}}</span>
  </div>
</section>
<section class="container columns-container">
  <div class="col">
    <p class="title">{{ "infoColumns.title1" | translate}}</p>
    <p class="desc">{{ "infoColumns.desc1" | translate}}</p>
  </div>
  <div class="col">
    <p class="title">{{ "infoColumns.title2" | translate}}</p>
    <p class="desc">{{ "infoColumns.desc2" | translate}}</p>
  </div>
</section>
<app-links></app-links>
