header {
  color: white;
  background: #eb01a5;
  background-image: url("/assets/img/background1.jpg"); /* fallback */
  background-size: cover;
  background-position: bottom;
  background-image: linear-gradient(to bottom, rgba(32, 32, 32, 0.74), rgba(0, 0, 0, 0.733)),
  url("/assets/img/background1.jpg");
}
