@import "../../scss/variables";
section {
  display: flex;
  flex-wrap: wrap;
}
.link {
  background: $grey-color;
  display: flex;
  span {
    font-size: $font-size-bigger;
    color: white;
  }
}
a.link:not(.hidden) ~ a {
  background: $secondary-color;
}
.contact {
  text-align: center;
  color: white;
  background: $base-color;
  span {
    color: white;
    font-size: $font-size-bigger;
  }
}
.btn {
  margin-top: 30px;
  position: relative;
  width: 100%;
  &:after {
    background: $base-color;
  }
}
@media (min-width: $breakpoint-tablet) {
  .link {
    min-width: 580px;
    width: 35%;
    height: 100px;
    display: flex;
    margin-left: auto;
    transition: width 1s;
    &:hover {
      width: 50%;
      span {
        margin-left: 45px;
      }
    }
    span {
      margin: auto 30px;
      transition: margin 1s;
    }
  }
  a.link:not(.hidden) ~ a {
    margin-right: auto;
    margin-left: 0;
    span {
      margin: auto 30px auto auto;
    }
    &:hover span {
      margin-right: 45px;
    }
  }
  .contact {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -30px;
    margin-left: auto ;
    margin-right: auto;
    padding: 30px 0 0 0;
    width: fit-content;
    display: flex;
    flex-direction: column;
    span {
      padding: 0 50px;
    }
  }
}
@media (max-width: $breakpoint-tablet) and (min-width: $breakpoint-mobile) {

  .link {
    width: 50%;
  }
}
@media (max-width: $breakpoint-tablet) {

  .link {
    padding: 40px 0;
    span {
      margin: auto;
      text-align: center;
    }
  }
  .contact {
    padding-top: 40px;
    width: 100%;
  }
}
@media (max-width: $breakpoint-mobile) {
  .link {
    width: 100%;
  }
}
.hidden {
  display: none;
}
