<section class="links">
  <a routerLink="/info" routerLinkActive="hidden" class="link"><span>{{ 'links.mission' | translate }}</span></a>
  <a routerLink="/specializations" routerLinkActive="hidden" class="link"><span>{{ 'links.specializations' | translate }}</span></a>
  <a routerLink="/logistics" routerLinkActive="hidden" class="link"><span>{{ 'links.logistics' | translate }}</span></a>
  <div class="contact">
    <a routerLink="/contact"><span>{{ 'links.contactTitle' | translate }}</span></a>
    <a routerLink="/contact" class="btn"><span>{{ 'links.button' | translate }}</span></a>
  </div>
</section>
