@import "../../scss/variables";

.title {
  display: block;
  text-transform: uppercase;
  width: 100%;
}
.btn:after {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.desc {
  margin-bottom: 0;
}
.card {
  background-color: transparent;
  font-size: $font-size-bigger;
  width: 250px;
  color: #fff;
  margin: 5px auto;
  height: 150px;
  text-transform: uppercase;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  svg {
    display: block;
    font-size: 50px;
    margin: 10px auto;
  }
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  border-radius: 20px;
}

/* Style the back side */
.flip-card-back {
  background-color: $secondary-color;
  border-radius: 20px;
}

.title {
  text-align: center;
}
@media (min-width: $breakpoint-tablet) {
  section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50%;
  }
}
@media (max-width: $breakpoint-tablet) {
  .card {
    width: 45%;
    text-align: center;
  }
}
@media (max-width: $breakpoint-mobile) {
  .card {
    width: 90%;
    text-align: center;
  }
}
