<section class="container">
  <p class="title">{{'bigLinks.title' | translate}}</p>


  <div class="card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="card-inside">
          <i class="fas fa-utensils"></i>
          {{ 'mission' | translate }}
        </div>
      </div>
      <div class="flip-card-back">
        <p class="desc">{{ 'links.mission' | translate }}</p>
        <a class="btn" href="/contact#form"><span>{{ 'bigLinks.button' | translate }}</span></a>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="card-inside">
          <i class="fas fa-heartbeat"></i>
          {{ 'specializations' | translate }}
        </div>
      </div>
      <div class="flip-card-back">
        <p class="desc">{{ 'links.specializations' | translate }}</p>
        <a class="btn" href="/contact#form"><span>{{ 'bigLinks.button' | translate }}</span></a>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="card-inside">
          <i class="fas fa-gem"></i>
          {{ 'logistics' | translate }}
        </div>
      </div>
      <div class="flip-card-back">
        <p class="desc">{{ 'links.logistics' | translate }}</p>
        <a class="btn" href="/contact#form"><span>{{ 'bigLinks.button' | translate }}</span></a>
      </div>
    </div>
  </div>


</section>
