<nav>
  <div class="header">
    <a routerLink="/" (click)="hideMenu()"><img src="/assets/img/logo.png"></a>
  </div>
  <input type="checkbox" id="hamburger" />
  <label for="hamburger"></label>
  <ul class="nav-links">
    <li><a routerLink="/info" (click)="hideMenu()">{{ 'mission' | translate }}</a></li>
    <li><a routerLink="/logistics" (click)="hideMenu()">{{ 'logistics' | translate }}</a></li>
    <li><a routerLink="/contact" (click)="hideMenu()">{{ 'contact' | translate}}</a></li>
    <li>
      <img src="/assets/img/flags/pl.svg" (click)="setLanguage('pl')" class="lang">
      <img src="/assets/img/flags/en.svg" (click)="setLanguage('en')" class="lang">
    </li>
  </ul>
  </nav>
<main [@rotateCubeToLeft]="prepareRoute(o)" id="container">
  <router-outlet #o="outlet"></router-outlet>
</main>
<footer>
  <div class="col">
    <p class="title">Example Company</p>
    <p class="desc">example@company.com</p>
    <a class="btn" href="/kontakt"><span>Skontaktuj się z nami</span></a>
  </div>
  <div class="col">
    <img src="/assets/img/logo.png">
  </div>
</footer>
