
<header>
  <h1>{{ 'logistics' | translate }}</h1>
  <p class="desc">{{ 'logisticsPage.pageDesc' | translate }}</p>
  <a class="btn" href="/logistics#details"><span>{{ 'more' | translate }}</span></a>
</header>

<div class="container" id="details">

  <p class="title"><i class="fas fa-truck-moving"></i> {{ 'logisticsPage.transport' | translate }}</p>
  <p class="desc">{{ 'logisticsPage.transportDesc' | translate }}</p>
  <p class="desc">{{ 'logisticsPage.bulletsTitle' | translate }}</p>
  <ul class="desc">
    <li>{{ 'logisticsPage.bullet1' | translate }}</li>
    <li>{{ 'logisticsPage.bullet2' | translate }}</li>
    <li>{{ 'logisticsPage.bullet3' | translate }}</li>
    <li>{{ 'logisticsPage.bullet4' | translate }}</li>
    <li>{{ 'logisticsPage.bullet5' | translate }}</li>
  </ul>
</div>
