
<header>
  <h1>{{ 'logistics' | translate }}</h1>
  <p class="desc">{{ 'logisticsPage.shortDesc' | translate }}</p>
</header>

<div class="container" id="details">


  <p class="desc">{{ 'logisticsPage.pageDesc' | translate }}</p>


  <p class="title"><i class="fas fa-truck-moving"></i> {{ 'logisticsPage.transport' | translate }}</p>
</div>

<section class="highlight-container">
  <div class="details">
    <p class="desc">{{ 'logisticsPage.transportDesc' | translate }}</p>

  </div>
  <div class="highlight">
    <p class="desc">{{ 'logisticsPage.bulletsTitle' | translate }}</p>
    <ul>
      <li>{{ 'logisticsPage.bullet1' | translate }}</li>
      <li>{{ 'logisticsPage.bullet2' | translate }}</li>
      <li>{{ 'logisticsPage.bullet3' | translate }}</li>
      <li>{{ 'logisticsPage.bullet4' | translate }}</li>
      <li>{{ 'logisticsPage.bullet5' | translate }}</li>
    </ul>
  </div>
</section>
<app-links></app-links>
