<header>
  <h1>{{ 'specializationsPage.title' | translate }}</h1>
  <p class="desc">Zobacz jakie branże są naszym konikiem.</p>
</header>

<div class="container">
  <p class="desc"> {{ 'specializationsPage.desc' | translate }}</p>

  <p class="title" id="specializations"><i class="fas fa-cubes"></i> {{ 'specializationsPage.subtitle' | translate }}</p>


  <div class="card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="card-inside">
          <i class="fas fa-utensils"></i>
          {{ 'specializationsPage.foods' | translate }}
        </div>
      </div>
      <div class="flip-card-back">
        <p class="desc">{{ 'specializationsPage.foods' | translate }}</p>
        <p>{{ 'specializationsPage.foodsDesc' | translate }}</p>
        <a class="btn" href="/contact#form"><span>{{ 'specializationsPage.button' | translate }}</span></a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="card-inside">
          <i class="fas fa-heartbeat"></i>
          {{ 'specializationsPage.health' | translate }}
        </div>
      </div>
      <div class="flip-card-back">
        <p class="desc">{{ 'specializationsPage.health' | translate }}</p>
        <p>{{ 'specializationsPage.healthDesc' | translate }}</p>
        <a class="btn" href="/contact#form"><span>{{ 'specializationsPage.button' | translate }}</span></a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="card-inside">
          <i class="fas fa-gem"></i>
          {{ 'specializationsPage.beauty' | translate }}
        </div>
      </div>
      <div class="flip-card-back">
        <p class="desc">{{ 'specializationsPage.beauty' | translate }}</p>
        <p>{{ 'specializationsPage.beautyDesc' | translate }}</p>
        <a class="btn" href="/contact#form"><span>{{ 'specializationsPage.button' | translate }}</span></a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="card-inside">
          <i class="fas fa-baby"></i>
          {{ 'specializationsPage.children' | translate }}
        </div>
      </div>
      <div class="flip-card-back">
        <p class="desc">{{ 'specializationsPage.children' | translate }}</p>
        <p>{{ 'specializationsPage.childrenDesc' | translate }}</p>
        <a class="btn" href="/contact#form"><span>{{ 'specializationsPage.button' | translate }}</span></a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="card-inside">
          <i class="fas fa-car"></i>
          {{ 'specializationsPage.car' | translate }}
        </div>
      </div>
      <div class="flip-card-back">
        <p class="desc">{{ 'specializationsPage.car' | translate }}</p>
        <p>{{ 'specializationsPage.carDesc' | translate }}</p>
        <a class="btn" href="/contact#form"><span>{{ 'specializationsPage.button' | translate }}</span></a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="card-inside">
          <i class="fas fa-tree"></i>
          {{ 'specializationsPage.lamber' | translate }}
        </div>
      </div>
      <div class="flip-card-back">
        <p class="desc">{{ 'specializationsPage.lamber' | translate }}</p>
        <p>{{ 'specializationsPage.lamberDesc' | translate }}</p>
        <a class="btn" href="/contact#form"><span>{{ 'specializationsPage.button' | translate }}</span></a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="card-inside">
          <i class="fas fa-couch"></i>
          {{ 'specializationsPage.furniture' | translate }}
        </div>
      </div>
      <div class="flip-card-back">
        <p class="desc">{{ 'specializationsPage.furniture' | translate }}</p>
        <p>{{ 'specializationsPage.furnitureDesc' | translate }}</p>
        <a class="btn" href="/contact#form"><span>{{ 'specializationsPage.button' | translate }}</span></a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="card-inside">
          <i class="fas fa-ring"></i>
          {{ 'specializationsPage.metals' | translate }}
        </div>
      </div>
      <div class="flip-card-back">
        <p class="desc">{{ 'specializationsPage.metals' | translate }}</p>
        <p>{{ 'specializationsPage.metalsDesc' | translate }}</p>
        <a class="btn" href="/contact#form"><span>{{ 'specializationsPage.button' | translate }}</span></a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="card-inside">
          <i class="fas fa-house-user"></i>
          {{ 'specializationsPage.home' | translate }}
        </div>
      </div>
      <div class="flip-card-back">
        <p class="desc">{{ 'specializationsPage.home' | translate }}</p>
        <p>{{ 'specializationsPage.homeDesc' | translate }}</p>
        <a class="btn" href="/contact#form"><span>{{ 'specializationsPage.button' | translate }}</span></a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="card-inside">
          <i class="fas fa-random"></i>
          {{ 'specializationsPage.private' | translate }}
        </div>
      </div>
      <div class="flip-card-back">
        <p class="desc">{{ 'specializationsPage.private' | translate }}</p>
        <p>{{ 'specializationsPage.privateDesc' | translate }}</p>
        <a class="btn" href="/contact#form"><span>{{ 'specializationsPage.button' | translate }}</span></a>
      </div>
    </div>
  </div>
</div>

<app-links></app-links>
