@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;800&display=swap");
$base-color: #E9803F;
$secondary-color: #363740;
$contrast-color: #c6538c;
$breakpoint-tablet: 1025px;
$breakpoint-mobile: 481px;

$nav-links: about, products, media;
main {
  overflow-y: scroll !important;
  height: 100vh;
  scroll-behavior: smooth;
  padding-top: 54px;
}
header {
  padding: 30vh 0;
  width: 100vw;
  h1 {
    text-align: center;
    margin: 0;
    color: $base-color;
  }
}

html {
  font-family: "Nunito", sans-serif;
  overflow-y: hidden;
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;

  &.btn{

    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    color: #FFF;
    transition: all 0.3s;
    position: relative;
    display: block;
    background-color:rgba(255, 255, 255, .2);
    margin: auto;
    span {
      transition: all .5s;
    }
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: all 0.3s;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-top-style: solid;
      border-bottom-style: solid;
      border-top-color: rgba(255,255,255,0.5);
      border-bottom-color: rgba(255,255,255,0.5);
      transform: scale(0.1, 1);
    }
    &:hover{
      span {
        letter-spacing: 2px;
        color: $base-color;
      }
      &::before {
        opacity: 1;
        transform: scale(1, 1);
      }
      &::after {
        opacity: 0;
        transform: scale(0.1, 1);
      }
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: all 0.3s;
      background-color: rgba(255,255,255,0.1);
    }
  }
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: white;

  input[type="checkbox"] {
    display: none
  }
}
li {

  text-align: center;
  list-style-type: none;
  a:any-link{
    color: $base-color;
  }
}
.header {
  display: flex;
  a {
    margin: auto;
  }
}
.title {
  font-size: 38px;
}
.desc {
  font-size: 23px;
}
footer {
  height: 80vh;
  display: flex;
  color: white;
  background: #333;
  background-image: url("/assets/img/footer2.jpg"); /* fallback */
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(32, 32, 32, 0.74),
      rgba(0, 0, 0, 0.733)
    ),
    url("/assets/img/footer2.jpg");

}
/*=====DESKTOP ONLY=====*/
@media (min-width: $breakpoint-tablet) {
  nav {
    display: flex;
    img {
      height: 35px;
    }
  }
  ul {
    display: flex;
    width: 40%;
    margin-left: auto;
  }
  li {
    color: $base-color;
    width: 25%;
    margin: auto;
    text-align: center;
  }
  footer {
    .col {
      width: 49%;
      display: inline-block;
      padding-left: 10%;
      padding-top: 30vh;
    }
    img {
      max-width: 30%;
    }
  }
}
/*=====TABLETS & MOBILE ONLY=====*/
@media (max-width: $breakpoint-tablet) {
  nav {
    border-bottom: 1px solid #ddd;
    img{
      height: 48px;
    }
    ul{
      display: block;
      position: absolute;
      top: 54px;
      left: 0;
      width: 100%;
      padding: 0;
      margin: 0;
      border-top: 1px solid #ddd;
      // Dark overlay on open nav
      &::before{
        background: rgba(0, 0, 0, .5);
        content: '';
        height: 100vh;
        left: 0;
        top: 0;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        transition: all .3s;
      }
    }
    li{
      border-bottom: 1px solid #ddd;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-20px);
      transition: all .3s;
      width: 100%;
      a{
        background: #fff;
        display: block;
        font-size: 20px;
        font-weight: bold;
        padding: 12px 0;
        text-align: center;
        width: 100%;
        transition: all .3s;
        &:hover {
          color: $secondary-color;
        }
      }
    }
    input[type="checkbox"]{
      position: absolute;
      // Nav open styling - achieved with ':checked' selector
      &:checked + label {
        border: 4px solid silver;
        border-radius: 50%;
        height: 21px;
        top: 12px;
        right: 10px;
        width: 21px;
        transform: rotate(-135deg);
        &::before {
          background: silver;
          top: 8px;
          left: 4px;
          width: 12px;
        }
        &::after {
          background: silver;
          opacity: 1;
          top: 8px;
          left: 4px;
          visibility: visible;
          width: 12px;
        }
        &:hover {
          border-color: $secondary-color;
          &::before,
          &::after {
            background: $secondary-color;
          }
        }
      }
      &:checked ~ .nav-links {
        &::before {
          opacity: 1;
          visibility: visible;
        }
        li {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
          @for $i from 1 through length($nav-links) {
            &:nth-child(#{$i}) {
              transition-delay: ($i - 1)/10+s;
            }
          }
        }
      }
    }
    label {
      background: none transparent;
      border: 4px solid $base-color;
      border-left: 0 solid transparent;
      border-right: 0 solid transparent;
      cursor: pointer;
      display: block;
      height: 16px;
      position: absolute;
      top: 15px;
      right: 15px;
      width: 21px;
      transition: all .2s;
      &::before {
        background: $secondary-color;
        content: '';
        height: 4px;
        left: 0;
        position: absolute;
        top: 6px;
        width: 21px;
        transition: all .2s;
      }
      &::after {
        background: coral;
        content: '';
        height: 4px;
        left: 0;
        position: absolute;
        top: 6px;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        transform: rotate(90deg);
        transition: all .2s;
      }
    }

  }
  footer {
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    img{
      width: 70%;
    }
    .col{
      width: 100%;
      &:nth-of-type(1){
        order:2;
      }
      &:nth-of-type(2){
        order:1;
      }
    }
  }
}
/*=====MOBILE ONLY=====*/

          /**/
@media (max-width: $breakpoint-tablet) {
}
