@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;800&display=swap');
$base-color: #161faa;
$secondary-color: #b9b716;
$contrast-color: #c6538c;

main {
  overflow-y: scroll!important;
  height: 100vh;
  scroll-behavior: smooth;
}
header {
  height: 60vh;
  width: 100vw;
}
html{
  font-family: 'Nunito', sans-serif;
  overflow-y: hidden;
}
body{
  margin: 0;
  padding-top: 54px;
}
a{
  text-decoration: none;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: white;
  display: flex;
  img{
    height: 35px;
  }
}
ul{
  display: flex;
  width: 40%;
  margin-left:auto;
}
li{
  color: $base-color;
  width: 25%;
  margin: auto;
  text-align: center;
  list-style-type: none;
}
.header{
  display: flex;
  a{
    margin:auto;
  }
}
.title{
  font-size: 38px;
}
.desc{
  font-size: 23px;
}
footer{
  height: 80vh;
  display:flex;
  color: white;
  background: #eb01a5;
  background-image: url("/assets/img/footer2.jpg"); /* fallback */
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(32, 32, 32, 0.74), rgba(0, 0, 0, 0.733)),
  url("/assets/img/footer2.jpg");

  .col{
    width: 49%;
    display: inline-block;
    padding-left: 10%;
    padding-top: 30vh;
  }
  img{
    max-width: 30%;
  }
}
