$base-color: #E9803F;
$secondary-color: #363740;
$contrast-color: #c6538c;
$breakpoint-tablet: 1025px;
$breakpoint-mobile: 481px;
$font-size: 15px;
$font-size-bigger: 25px;
$font-size-title: 40px;
$nav-links: about, products, media, logistics, languages;
