//$base-color: #E9803F;
//$secondary-color: #1E2749;
//$light-color: #EEF8FF;
$base-color: #fc7b11;
$secondary-color: #14213d;
$contrast-color: #c6538c;
$light-color: #e5e5e5;
$grey-color: #6E8387;
$breakpoint-tablet: 1025px;
$breakpoint-mobile: 481px;
$font-size: 18px;
$font-size-bigger: 25px;
$font-size-title: 48px;
$nav-links: about, products, media, logistics, languages;
