<header>
  <img src="/assets/img/logo.png">
</header>
<section class="highlight-container">
  <div class="details">
    {{ 'homePage.details' | translate }}
  </div>
  <div class="highlight">
    <p class="desc">{{ 'homePage.highlightTitle' | translate }}</p>
    <p>{{ 'homePage.highlight' | translate }}</p>
  </div>
</section>
<section class="description">
  <img src="/assets/img/connect3.jpg">
  <div class="content">
    <h2>{{ 'homePage.skewTitle' | translate }}</h2>
    <p class="col">
      {{ 'homePage.skewSection1' | translate }}
    </p>
    <p class="col">
      {{ 'homePage.skewSection2' | translate }}
    </p>
  </div>

</section>
<app-big-links></app-big-links>
