@import "../../scss/variables.scss";

header {
  text-align: center;
  background-image: url("/assets/img/connect1.jpg"); /* fallback */
  background-size: cover;
  background-position: right;
  background-image: linear-gradient(
      to bottom,
      rgba(32, 32, 32, 0.74),
      rgba(0, 0, 0, 0.733)
    ),
    url("/assets/img/connect1.jpg");
}
img {
  height: 15vh;
}
.description {
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  img {
    height: fit-content;
    margin: auto;
  }
}
.content {
  display: flex;
  flex-wrap: wrap;
  p {
    text-align: justify;
  }
}
h2 {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  color: $secondary-color;
}

@media (min-width: $breakpoint-tablet) {
  .description {
    &::before {
      top: 105%;
      height: 50vh;
      content: "";
      position: absolute;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%) rotate(-3deg) skew(-3deg);
      background: white;
      z-index: -1;
    }
    img {
      width: 30%;
      max-width: 400px;
      height: fit-content;
      display: inline-block;
    }
  }
  .content {
    width: 65%;
    margin: 0 auto auto;
  }
}
@media (max-width: $breakpoint-tablet) {
  .description {
    background: white;
    img {
      width: 80%;
      max-width: 400px;
    }
  }
  .content {
    width: 100%;
  }
}
