@import "../../scss/variables";


header {
  background-image: url("/assets/img/background2.jpg"); /* fallback */
  background-size: cover;
  background-position: right;
  background-image: linear-gradient(
      to bottom,
      rgba(32, 32, 32, 0.74),
      rgba(0, 0, 0, 0.733)
    ),
    url("/assets/img/background2.jpg");
}


.container .desc {
  text-align: center;
}
form {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.col {
  display: flex;
  flex-direction: column;
}
input,
textarea {
  width: 400px;
  max-width: 80vw;
  margin: 0 auto 20px auto;
  border: 0;
  background-color: #ddd;
  color: black;
  height: 40px;
  font-family: "Nunito", sans-serif;
}
input:hover + label,
input:active + label,
textarea:hover + label,
textarea:active + label {
  color: $base-color;
}
textarea {
  height: 150px;
}
@media (max-width: $breakpoint-tablet) {
  form {
    flex-direction: column;
  }
}
