<header>
  <div class="content">
    <h1>Skontaktuj się z nami!</h1>
    <p>Aby się z nami skonktaktować - napisz maila na adres podany poniżej lub uzupełnij formularz kontaktowy.</p>
    <p>Odpowiemy na Twoje zapytanie najszybciej jak to tylko możliwe!</p>
    <a class="btn" href="/kontakt#formularz-kontaktowy"><span>Wypełnij formularz</span></a>
  </div>
</header>
<section id="formularz-kontaktowy">
  <p class="title">Formularz kontaktowy</p>
  <p class="desc">Uzupełnij formularz oraz kliknij przycisk "Wyślij".</p>
  <form [formGroup]="formData" (ngSubmit)="onSubmit(formData.value)">
    <div class="col">
        <input type="text" class="form-control" name="Fullname" placeholder="Full Name" formControlName="Fullname">
        <label for="fullname">Imię i nazwisko</label>
        <input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="Email">
        <label for="Email">E-mail</label>
        <input type="text" class="form-control" name="phonenumber" placeholder="" formControlName="phonenumber">
        <label for="phonenumber">Numer telefonu</label>
    </div>
    <div class="col">
      <label for="comment">Comment</label>
      <textarea class="form-control" formControlName="Comment" name="Comment">
      </textarea>
      <button type="submit" class="btn" [disabled]="!formData.valid">Submit</button>
    </div>
  </form>
</section>
